# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Environment variables
.env

# Built output
dist/
build/
out/
*.pid
*.map

# Local development
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.bak
*~
.DS_Store
